:root{
    --bckgrd-color: #F0FFFF;
}

body{
    background-color: var(--bckgrd-color);
}

h1{
    font-family: 'Frijole', cursive;
    font-size: 400%;
    position: absolute;
    margin: 50px auto auto 175px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.settings{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.only-grid{
    width: 50%;
    text-align: center;
}

.res-but{
    position: relative;
    bottom: 20px;
}

#grid-container{
    border: 1px solid rgba(0,0,0,0.3);
}

.button{
    position: relative;
    margin-top: 75px;
    width: 50%;
    top: 250px;
    left: 250px;
}

.grid {
    display: grid;
    width: 825px;
    height: 825px;
    margin: 2rem auto;
    border: 2px solid rgba(0,0,0,0.3);
  }
  
  .grid-element {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: var(--bckgrd-color);
  }