:root{
    --bckgrd-color: #F0FFFF;
}

body{
    background-color: var(--bckgrd-color);
}

h1{
    font-family: 'Frijole', cursive;
    font-size: 400%;
    position: absolute;
    margin: 50px auto auto 175px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.settings{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.only-grid{
    width: 50%;
    text-align: center;
}

.res-but{
    position: relative;
    bottom: 25px;
    background-color: lightgray;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 3px;
    cursor: pointer;
}

#grid-container{
    border: 1px solid rgba(0,0,0,0.3);
}

.range-slider{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    width: 50%;
    top: 250px;
    left: 250px;
}

.button{
    position: relative;
    margin-top: 75px;
    width: 50%;
    top: 250px;
    left: 250px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,0.2);
}

#random-color{
    background: linear-gradient(90deg, lightsalmon, lightgreen, lightskyblue);
    border-radius: 10px;
}

#cold-color{
    background-color: #00BFFF;
    border-radius: 10px;;
}

#warm-color{
    background-color: #FF1493;
    border-radius: 10px;;
}

#darken{
    background-color: #666666;
    border-radius: 10px;;
}

#reset-button{
    height: 50px;
    width: 100px;
    text-align: center;
}

@keyframes push_button{
    0%{
        width: 90%;
    }
    50%{
        width: 90%;
    }
    100%{
        width: 90%;
    }
}

.grid {
    display: grid;
    width: 825px;
    height: 825px;
    margin: 2rem auto;
    border: 2px solid rgba(0,0,0,0.3);
}
  
.grid-element {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: var(--bckgrd-color);
}

#dark-mode{
    position: absolute;
    top: 94%;
    height: 50px;
    cursor: pointer;
}