:root{
    --bckgrd-color: #F0FFFF;
}

body{
    background-color: var(--bckgrd-color);
}

h1{
    font-family: 'Frijole', cursive;
    font-size: 4vw;
    position: relative;
    margin: auto;
    margin-top: 5%;
}

.container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.settings{
    width: 50%;
    height: 100%;
    text-align: center;
}

.only-grid{
    width: 50%;
    height: 100%;
    text-align: center;
}

.res-but{
    position: relative;
    bottom: 10%;
    background-color: lightgray;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 3px;
    cursor: pointer;
    height: 2vw;
    width: 6vw;
    font-size: 0.9vw;
}

.button{
    position: relative;
    margin: 4vw auto auto auto;
    width: 50%;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,0.2);
    font-size: 1.3vw;
}

#random-color{
    background: linear-gradient(90deg, lightsalmon, lightgreen, lightskyblue);
    border-radius: 10px;
}

#cold-color{
    background-color: #00BFFF;
    border-radius: 10px;;
}

#warm-color{
    background-color: #FF1493;
    border-radius: 10px;;
}

#darken{
    background-color: #666666;
    border-radius: 10px;;
}

#reset-button{
    margin: auto;
    height: 3vw;
    width: 6vw;
    border-radius: 6%;
    background-color: rgb(0, 230, 0);
}

.grid {
    display: grid;
    width: 40vw;
    height: 40vw;
    margin: 2vw auto;
    border: 1px solid rgba(0,0,0,0.3);
}
  
.grid-element {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: var(--bckgrd-color);
}

#dark-mode{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3.5vw;
    width: 3.5vw;
    cursor: pointer;
}

